on: [push, pull_request]
name: Build benchmarks
jobs:
  build_benches:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        rust:
          - stable
          - beta
          - nightly
          - 1.81.0  # MSRV for benchmarks
        include:
          - test_features: ""
          - all_test_features: ""
          - rust: nightly
            test_features: ",nightly_tests"
            all_test_features: "--features=nightly_tests"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Build (default features)
        run: cargo bench --no-run --verbose --all ${{ matrix.all_test_features }}
      - name: Build (log feature)
        run: cargo bench --no-run --verbose --all --features=log${{ matrix.test_features }}
      - name: Build (log_parallelism feature)
        run: cargo bench --no-run --verbose --all --features=log_parallelism${{ matrix.test_features }}
