on: [push, pull_request]
name: Lints on nightly toolchain
jobs:
  clippy:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy

      - name: Check Clippy lints (default features)
        run: cargo clippy --verbose --all
      - name: Check Clippy lints (no default features)
        run: cargo clippy --verbose --all --no-default-features
      - name: Check Clippy lints (log feature)
        run: cargo clippy --verbose --all --no-default-features --features=log
      - name: Check Clippy lints (log_parallelism feature)
        run: cargo clippy --verbose --all --no-default-features --features=log_parallelism
      - name: Check Clippy lints (rayon feature)
        run: cargo clippy --verbose --all --no-default-features --features=rayon
      - name: Check Clippy lints (all features)
        run: cargo clippy --verbose --all --all-features

      - name: Check Clippy lints on tests (default features)
        run: cargo clippy --verbose --all --tests
      - name: Check Clippy lints on tests (no default features)
        run: cargo clippy --verbose --all --tests --no-default-features
      - name: Check Clippy lints on tests (log feature)
        run: cargo clippy --verbose --all --tests --no-default-features --features=log
      - name: Check Clippy lints on tests (log_parallelism feature)
        run: cargo clippy --verbose --all --tests --no-default-features --features=log_parallelism
      - name: Check Clippy lints on tests (rayon feature)
        run: cargo clippy --verbose --all --tests --no-default-features --features=rayon
      - name: Check Clippy lints on tests (all features)
        run: cargo clippy --verbose --all --tests --all-features

      - name: Check Clippy lints on benchmarks (default features)
        run: cargo clippy --verbose --all --benches
      - name: Check Clippy lints on benchmarks (all features)
        run: cargo clippy --verbose --all --benches --all-features

      - name: Check Clippy lints on examples (default features)
        run: cargo clippy --verbose --all --examples
      - name: Check Clippy lints on examples (all features)
        run: cargo clippy --verbose --all --examples --all-features
