on: [push, pull_request]
name: Tests
jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          - stable
          - beta
          - nightly
          - 1.86.0  # MSRV for tests
        include:
          - test_features: ""
          - all_test_features: ""
          - rust: nightly
            test_features: ",nightly,nightly_tests"
            all_test_features: "--features=nightly,nightly_tests"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "-D warnings -C debug_assertions"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run tests (default features)
        run: cargo test --release --verbose --all ${{ matrix.all_test_features }}
      - name: Run tests (log feature)
        run: cargo test --release --verbose --all --features=log${{ matrix.test_features }}
      - name: Run tests (all features)
        run: cargo test --release --verbose --all --features=log,log_parallelism,rayon${{ matrix.test_features }}
